<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid molloy-themed" style = "overflow:auto;">

    <div class="row">
        <!--<div class="col-sm-5">-->
            <h1 style="text-align: center"><%= title %></h1>

            <div id = "articleContent" class="" style = "overflow:auto;">
                <% articlesData.forEach(function(articleData) { %>
                    <div style = "border:1px solid; text-align:center">
                        <h2><a href = "http://www.molloy.edu/<%= articleData.storyLink %>"><%= articleData.headline.split("&#39;").join("'").split("&quot;").join('"') %></a></h2>
                        <h3><time><%=articleData.date %></time></h3>
                        <%if(articleData.imageSrc) { %>
                            <p><img src = "http://www.molloy.edu/<%= articleData.imageSrc %>" style = "max-width:50%;"></p>
                        <% } %>
                        <p><%= articleData.previewText.split("&#39;").join("'").split("&quot;").join('"') %></p>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
</div>
<%- include javascriptIncludes.ejs %>
</body>
</html>
