<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid molloy-themed">

    <div class="row">
        <div class="col-sm-5">
            <h1><%= title %></h1>

            <p>Welcome to <%= title %></p>
            <!--div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
            </div-->
            <p style>
                Hi my name is Zach
            </p>
        </div>
    </div>
</div>

<%- include javascriptIncludes.ejs %>
</body>
</html>
